<%- include('partial/heater')  %>
<div class="container-fluid bg-dark" id="about">
    <div class="about-container my-3 p-3">
      <div class="sympol">
        <div class="sympol-left">
        <a href="" id="online">ONLINE</a>
        </div>
        <div class="sympol-left">
            <a class="text-end mx-2 text-light"><i class="fa-regular fa-heart"></i></a>
            <a class="text-end mx-2 text-light"><i class="fa-solid fa-ellipsis-vertical"></i></a>
          </div>
        </div>
       
        <div class="image"><img src="/1.jpg" alt="">
        <p><i class="fa-solid fa-check"></i></p>
        </div>

        <div class="details text-center text-light">
            <h4>Ramakrishnan G</h4>
            <p class="text-secondary">Fullstack developer</p>
            <h6>I'm a full-stack developer.  I've been building web applications for 2 years now, 
                and I'm comfortable working on both the front-end and back-end sides.</h6>
            <a href="" type="button" class="text-light">Hire Me</a>

            <p style="border: 1px solid #fff; margin: 10px 0;"></p>
        </div>
        <div class="contact">
            <p id="p1"><a href=""><i class="fa-brands fa-whatsapp"></i></a></p>
            <p id="p2"><a href=""><i class="fa-brands fa-instagram"></i></a></p>
            <p id="p3"><a href=""><i class="fa-brands fa-github"></i></a></p>
        </div>
    </div>
</div>

<%- include('partial/footer') %>