<%- include('partial/heater') %>

<div class="contacts">
    <div class="container text-center text-light">
     <h1>Contact Us</h1>
     <h5>To pursure a good,productive career in the field 
        of information technology and utilize my ability
        to develop quality software.</h5>
    </div>

   <div class="container">
    <div class="row">
        <div class="col-lg-6 text-light my-5">
            <div class="container my-5">
            <div class="logos">
                <div class="logs"><i class="fa-solid fa-location-dot"></i></div>
                <div class="para">
                    <p id="aqua">Address</p>
                    <p>Pattukkottai</p>
                    <p>Thanjavur</p>
                    <p>Tamilnadu</p>
                </div>
            </div>
            <div class="logos">
                <div class="logs"><i class="fa-solid fa-mobile"></i></div>
                <div class="para">
                    <p id="aqua">Phone</p>
                    <p>+91 6380185040</p>
                </div>
            </div>
            <div class="logos">
                <div class="logs"><i class="fa-regular fa-envelope"></i></div>
                <div class="para">
                    <p id="aqua">Email</p>
                    <p>ramakrishnanguna2003@gmail.com</p>
                </div>
            </div>
        </div>
        </div>
        <div class="col-lg-6 px-5">
            <div class="container px-3 py-5">
            <div class="card px-5">
                <h3 class="text-dark my-3">Send Message</h3>
                <div class="input">
                    <input type="text" placeholder="Fullname">
                    <input type="text" placeholder="Email">
                    <input type="text" placeholder="Type Your Message...">
                </div>
                <button class="btn btn-primary send">Send</button>
            </div></div>
        </div>
    </div>
   </div>
</div>

<%- include('partial/footer') %>